<img src='Cover5-01.png'>

# План семинара

- **Установка Anaconda Python**
- **Введение в Python**
- **Pandas**
- **Визуализация данных**
- **Генерация данных**

# Установка Anaconda Python для Windows

К сожалению, Anaconda не любит, когда имя пользователя написано русскими буквами, поэтому вам придётся создать нового пользователя, в имени которого все буквы английские, и дальнейшую работу вести от имени этого пользователя. Если вас это по какой-либо причине не устраивает, то придётся выбрать другой дистрибутив.

На сайте anaconda.com выберем и скачаем нужную версию инсталлятора.

Найдём скачанный файл (по умолчанию он находится в папке Мои документы/Загрузки). Например, если вы выбрали 64-разрядную версию Python 3.4, то установочный файл версии 3.4.0 называется Anaconda-3.4.0-Windows-x86_64.exe. Двойным кликом левой кнопки мыши запустим его на выполнение.

В открывшемся диалоговом окне нажмём кнопку Next (Далее).

На вопрос о лицензионном соглашении нажмём I Agree (Согласен).

Далее на вопрос “Install for” (Инсталлировать для) выберем опцию Just me (Только для меня). Если у вас есть права администратора на данном компьютере, то можно выбрать All users (Для всех пользователей). Снова нажмём кнопку Next (Далее).

Оставим путь для установки по умолчанию или при необходимости изменим на любой другой (у вас должны быть права записи в указанный каталог). Нажмём кнопку Next (Далее).

Поставим обе галочки Add Anaconda to my PATH environment variable (Добавить каталог программы в путь поиска по умолчанию) и Register Anaconda as my default Python (Зарегистрировать Anaconda в качестве основного интерпретатора Python). Нажмём кнопку Install (Установить).

После непродолжительного ожидания нажмём кнопку Next (Далее) и, наконец, кнопку Finish (Завершить).

# Установка Python в системе Debian/Ubuntu

Сначала надо скачать дистрибутив Anaconda for Linux с сайта anaconda.com; а затем в терминале выполнить команду:

bash AnacondaX-X.X.X-Linux-x86_64.sh
(вместо символов X укажите номер версии, который записан в имени скачанного файла).

# Запуск Jupyter

через терминал: ipython notebook

через меню "пуск"

# Введение в Python

## Числа

Арифметические операции имеют ожидаемые приоритеты. При необходимости используются скобки.

In [1]:
3+5*7

38

Возведение целого числа в целую степень даёт целое число, если показатель степени $\ge0$, и число с плавающей точкой, если он $<0$. Так что тип результата невозможно определить статически, если значение переменной `n` неизвестно.

In [2]:
n=3
2**n

8

Деление целых чисел всегда даёт результат с плавающей точкой, даже если они делятся нацело. Операторы `//` и `%` дают целое частное и остаток.

In [3]:
7%4

3

In [4]:
7/4

1.75

Любопытная особенность питона: можно использовать привычные из математики сравнения вроде $x<y<z$, которые в других языках пришлось бы записывать как `x<y and y<z`.

In [5]:
1<2<=2

True

In [6]:
type(2.1)

float

In [7]:
int(-2.9)

-2

Преобразование числа с плавающей точкой в целое производится путём отбрасывания дробной части, а не округления. Для округления используется функция `round`.

In [8]:
round(2.9)

3

## Строки

Питон хорошо приспособлен для работы с текстовой информацией. В нём есть много операций для работы со строками, несколько способов записи строк (удобных в разных случаях). В современных версиях питона (3.x) строки юникодные, т.е. они могут содержать одновременно русские и греческие буквы, немецкие умляуты и китайские иероглифы.

In [9]:
s='Какая-нибудь строка \u00F6 \u03B1'
print(s)

Какая-нибудь строка ö α

In [10]:
'Эта строка может содержать " внутри'

'Эта строка может содержать " внутри'

In [11]:
"Эта строка может содержать ' внутри"

"Эта строка может содержать ' внутри"

In [12]:
s='Эта содержит и \', и \"'
print(s)

Эта содержит и ', и "

In [13]:
s="""Строка,
занимающая
несколько
строчек"""
print(s)

Строка,
занимающая
несколько
строчек

In [14]:
s=="Строка,\nзанимающая\nнесколько\nстрочек"

True

Несколько строковых литералов, разделённых лишь пробелами, слипаются в одну строку. Подчеркнём ещё раз: это должны быть литералы, а не переменные со строковыми значениями. Такой способ записи особенно удобен, когда ружно передать длинную строку при вызове функции.

In [15]:
s='Такие ' 'строки ' 'слипаются'
print(s)

Такие строки слипаются

In [16]:
print('Такие\n'
     'строки\n'
     'слипаются')

Такие
строки
слипаются

В питоне нет специального типа `char`, его роль играют строки длины 1. Функция `ord` возвращает (юникодный) номер символа, а обратная ей функция `chr` возвращает символ (строку длины 1).

In [17]:
n=ord('а')
n

1072

In [18]:
chr(n)

'а'

Функция `len` возвращает длину строки. Она применима не только к строкам, но и к спискам, словарям и многим другим типам, про объекты которых разумно спрашивать, какая у них длина.

In [19]:
s='0123456789'
len(s)

10

Символы в строке индексируются с 0. Отрицательные индексы используются для счёта с конца: `s[-1]` - последний символ в строке, и т.д.

In [20]:
s[0]

'0'

In [21]:
s[3]

'3'

In [22]:
s[-1]

'9'

In [23]:
s[-2]

'8'

Можно выделить подстроку, указав диапазон индексов. Подстрока включает символ, соответствующий началу диапазона, но не включает соответствующий концу. Удобно представлять себе, что индексы соответствуют положениям между символами строки. Тогда подстрока `s[n:m]` будет расположена между индексами `n` и `m`.

In [24]:
s[1:3]

'12'

In [25]:
s[:3]

'012'

In [26]:
s[3:]

'3456789'

In [27]:
s[:-1]

'012345678'

In [28]:
s[3:-2]

'34567'

Если не указано начало диапазона, подразумевается от начала строки; если не указан его конец - до конца строки.

Строки являются неизменяемым типом данных. Построив строку, нельзя изменить в ней один или несколько символов. Операции над строками строят новые строки - результаты, не меняя своих операндов. Сложение строк означает конкатенацию, а умножение на целое число (с любой стороны) - повторение строки несколько раз.

In [29]:
s='abc'; t='def'
s+t

'abcdef'

In [30]:
s*3

'abcabcabc'

Операция `in` проверяет, содержится ли символ (или подстрока) в строке.

In [31]:
'a' in s

True

In [32]:
'd' in s

False

In [33]:
'ab' in s

True

In [34]:
'b' not in s

False

## Списки

Списки могут содержать объекты любых типов (в одном списке могут быть объекты разных типов). Списки индексируются так же, как строки.

In [35]:
l=[0,1,2,3,4,5,6,7,8,9]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
len(l)

10

In [37]:
l[0]

0

In [38]:
l[3]

3

In [39]:
l[10]

IndexError: list index out of range

In [40]:
l[-2]

8

In [41]:
l[1:3]

[1, 2]

Обратите внимание, что `l[:3]+l[3:]==l`.

In [42]:
l[:3]

[0, 1, 2]

In [43]:
l[3:]

[3, 4, 5, 6, 7, 8, 9]

In [44]:
l[3:3]

[]

In [45]:
l[3:-2]

[3, 4, 5, 6, 7]

In [46]:
l[:-2]

[0, 1, 2, 3, 4, 5, 6, 7]

Списки являются изменяемыми объектами. Это сделано для эффективности. В списке может быть 1000000 элементов. Создавать его копию каждый раз, когда мы изменили один элемент, слишком дорого.

In [47]:
l[3]='три'
l

[0, 1, 2, 'три', 4, 5, 6, 7, 8, 9]

Можно заменить какой-нибудь подсписок на новый список (в том числе другой длины).

In [48]:
l[3:3]=[0]
l

[0, 1, 2, 0, 'три', 4, 5, 6, 7, 8, 9]

In [49]:
l[3:3]=[10,11,12]
l

[0, 1, 2, 10, 11, 12, 0, 'три', 4, 5, 6, 7, 8, 9]

In [50]:
l[5:7]=[0,0,0,0]
l

[0, 1, 2, 10, 11, 0, 0, 0, 0, 'три', 4, 5, 6, 7, 8, 9]

In [51]:
l[3:]=[]
l

[0, 1, 2]

In [52]:
l[len(l):]=[3,4]
l

[0, 1, 2, 3, 4]

Некоторые из этих операций могут быть записаны в другой форме.

In [53]:
l=[0,1,2,3,4,5,6,7]
del l[3]
l

[0, 1, 2, 4, 5, 6, 7]

In [54]:
del l[3:5]
l

[0, 1, 2, 6, 7]

In [55]:
l.insert(3,0)
l

[0, 1, 2, 0, 6, 7]

In [56]:
l.append(8)
l

[0, 1, 2, 0, 6, 7, 8]

In [57]:
l.extend([9,10,11])
l

[0, 1, 2, 0, 6, 7, 8, 9, 10, 11]

Элементы списка могут быть разных типов.

In [58]:
l=[0,[1,2,3],'abc']
l[1][1]='x'
l

[0, [1, 'x', 3], 'abc']

Когда мы пишем `m=l`, мы присваиваем переменной `m` ссылку на тот же объект, на который ссылается `l`.  Поэтому, изменив этот объект (список) через `l`, мы увидим эти изменения и через `m` - ведь список всего один.

In [59]:
l=[0,1,2,3,4,5]
m=l
l[3]='три'
m

[0, 1, 2, 'три', 4, 5]

Операция `is` проверяет, являются ли `m` и `l` **одним и тем же объектом**.

In [60]:
m is l

True

Если мы хотим видоизменять `m` и `l` независимо, нужно присвоить переменной `m` не список `l`, а его копию. Тогда это будут два различных списка, просто в начальный момент они состоят из одних и тех же элементов. Для этого в питоне есть идиома: `l[:]` - это подсписок списка `l` от начала до конца, а подсписок всегда копируется.

In [61]:
m=l[:]

Теперь `m` и `l` - два независимых объекта, имеющих равные значения.

In [62]:
m is l

False

In [63]:
m==l

True

Их можно менять независимо.

In [64]:
l[3]=0
l

[0, 1, 2, 0, 4, 5]

In [65]:
m

[0, 1, 2, 'три', 4, 5]

Как и для строк, сложение списков означает конкатенацию, а умножение на целое число - повторение списка несколько раз. Операция `in` проверяет, содержится ли элемент в списке.

In [66]:
[0,1,2]+[3,4,5]

[0, 1, 2, 3, 4, 5]

In [67]:
2*[0,1,2]

[0, 1, 2, 0, 1, 2]

In [68]:
l=[0,1,2]
l+=[3,4,5]
l

[0, 1, 2, 3, 4, 5]

In [69]:
2 in l

True

Простейший вид цикла в питоне - это цикл по элементам списка.

In [70]:
for x in l:
    print(x)

0
1
2
3
4
5

Можно использовать цикл `while`. В этом примере он выполняется, пока список `l` не пуст. Этот цикл гораздо менее эффективен, чем предыдущий - в нём на каждом шаге меняется список `l`. Он тут приведён не для того, чтобы ему подражали, а просто чтобы показать синтаксис цикла `while`.

In [71]:
while l:
    print(l[0])
    l=l[1:]

0
1
2
3
4
5

In [72]:
l

[]

Очень часто используются циклы по диапазонам целых чисел.

In [73]:
for i in range(4):
    print(i)

0
1
2
3

Функция `range(n)` возвращает диапазон целых чисел от 0 до $n-1$ (всего $n$ штук) в виде специального объекта `range`, который можно использовать в `for` цикле. Можно превратить этот объект в список функцией `list`. Но этого делать не нужно, если только такой список не нужен для проведения каких-нибудь списковых операций. Число `n` может быть равно 1000000. Зачем занимать память под длинный список, если он не нужен? Для написания цикла достаточно короткого объекта `range`, который хранит только пределы.

In [74]:
r=range(4)
r

range(0, 4)

In [75]:
list(r)

[0, 1, 2, 3]

Функции `range` можно передать первый параметр - нижний предел.

In [76]:
for i in range(2,4):
    print(i)

2
3

In [77]:
r=range(2,4)
r

range(2, 4)

In [78]:
list(r)

[2, 3]

Функция `list` превращает строку в список символов.

In [79]:
l=list('абвгд')
l

['а', 'б', 'в', 'г', 'д']

Как написать цикл, если в его теле нужно использовать и номера элементов списка, и сами эти элементы? Первая идея, которая приходит в голову по аналогии с C - это использовать `range`.

In [80]:
for i in range(len(l)):
    print(i,'  ',l[i])

0    а
1    б
2    в
3    г
4    д

Можно поступить наоборот - устроить цикл по элементам списка, а индексы вычислять.

In [81]:
i=0
for x in l:
    print(i,'  ',x)
    i+=1

0    а
1    б
2    в
3    г
4    д

Оба этих способа не есть идиоматический питон. Более изящно использовать функцию `enumerate`, которая на каждом шаге возвращает пару из индекса `i` и `i`-го элемента списка.

In [82]:
for i,x in enumerate(l):
    print(i,'  ',x)

0    а
1    б
2    в
3    г
4    д

Про такие пары мы поговорим в следующем параграфе.

Довольно часто удобно использовать цикл `while True:`, то есть пока рак на горе не свистнет, а выход (или несколько выходов) из него устраивать в нужном месте (или местах) при помощи `break`.

In [83]:
while True:
    print(l[-1])
    l=l[:-1]
    if l==[]:
        break

д
г
в
б
а

Этот конкретный цикл - отнюдь не пример для подражания, он просто показывает синтаксис.

Можно строить список поэлементно.

In [84]:
l=[]
for i in range(10):
    l.append(i**2)
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Но более компактно и элегантно такой список можно создать при помощи генератора списка (list comprehension). К тому же это эффективнее - размер списка известен заранее, и не нужно много раз увеличивать его. Опытные питон-программисты используют генераторы списков везде, где это возможно (и разумно).

In [85]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
[[i,j] for i in range(3) for j in range(2)]

[[0, 0], [0, 1], [1, 0], [1, 1], [2, 0], [2, 1]]

В генераторе списков могут присутствовать некоторые дополнительные элементы, хотя они используются реже. Например, в список-результат можно включить не все элементы.

In [87]:
[i**2 for i in range(10) if i!=5]

[0, 1, 4, 9, 16, 36, 49, 64, 81]

Создадим список случайных целых чисел.

In [88]:
from random import randint
l=[randint(0,9) for i in range(10)]
l

[7, 4, 6, 9, 5, 1, 0, 7, 8, 3]

Функция `sorted` возвращает отсортированную копию списка. Метод `sort` сортирует список на месте. Им можно передать дополнительный параметр - функцию, указывающую, как сравнивать элементы.

In [89]:
sorted(l)

[0, 1, 3, 4, 5, 6, 7, 7, 8, 9]

In [90]:
l

[7, 4, 6, 9, 5, 1, 0, 7, 8, 3]

In [91]:
l.sort()
l

[0, 1, 3, 4, 5, 6, 7, 7, 8, 9]

Аналогично, функция `reversed` возвращает обращённый список (точнее говоря, некий объект, который можно использовать в `for` цикле или превратить в список функцией `list`). Метод `reverse` обращает список на месте.

In [92]:
list(reversed(l))

[9, 8, 7, 7, 6, 5, 4, 3, 1, 0]

In [93]:
l

[0, 1, 3, 4, 5, 6, 7, 7, 8, 9]

In [94]:
l.reverse()
l

[9, 8, 7, 7, 6, 5, 4, 3, 1, 0]

Метод `split` расщепляет строку в список подстрок. По умолчанию расщепление производится по пустым промежуткам (последовательностям пробелов и символов `tab` и `newline`). Но можно передать ему дополнительный аргумент - подстроку-разделитель.

In [95]:
s='abc \t def \n ghi'
l=s.split()
l

['abc', 'def', 'ghi']

Чтобы напечатать элементы списка через запятую или какой-нибудь другой символ (или строку), очень полезен метод `join`. Он создаёт строку из всех элементов списка, разделяя их строкой-разделителем. Запрограммировать это в виде цикла было бы существенно длиннее, и такую программу было бы сложнее читать.

In [96]:
s=', '.join(l)
s

'abc, def, ghi'

In [97]:
s.split(', ')

['abc', 'def', 'ghi']

## Множества

В соответствии с математическими обозначениями, множества пишутся в фигурных скобках. Элемент может содержаться в множестве только один раз. Порядок элементов в множестве не имеет значения, поэтому питон их сортирует. Элементы множества могут быть любых типов. Множества используются существенно реже, чем списки. Но иногда они бывают весьма полезны. Например, когда я собирался делать апгрейд системы на сервере, я написал на питоне программу, которая строила множество пакетов, установленных в системе до апгрейда; множество пакетов, имеющихся на инсталляционных CD; имеющихся на основных сайтах с дополнительными пакетами, и т.д. И она мне помогла восстановить функциональность после апгрейда.

In [98]:
s={0,1,0,5,5,1,0}
s

{0, 1, 5}

Принадлежит ли элемент множеству?

In [99]:
1 in s, 2 in s, 1 not in s

(True, False, False)

Множество можно получить из списка, или строки, или любого объекта, который можно использовать в `for` цикле (итерабельного).

In [100]:
l=[0,1,0,5,5,1,0]
set(l)

{0, 1, 5}

In [101]:
set('абба')

{'а', 'б'}

Как записать пустое множество? Только так.

In [102]:
set()

set()

Дело в том, что в фигурных скобках в питоне пишутся также словари (мы будем их обсуждать в следующем параграфе). Когда в них есть хоть один элемент, можно отличить словарь от множества. Но пустые фигурные скобки означают пустой словарь.

Работать с множествами можно как со списками.

In [103]:
len(s)

3

In [104]:
for x in s:
    print(x)

0
1
5

Это генератор множества (set comprehension).

In [105]:
{i for i in range(5)}

{0, 1, 2, 3, 4}

Объединение множеств.

In [106]:
s2=s|{2,5}
s2

{0, 1, 2, 5}

Проверка того, является ли одно множество подмножеством другого.

In [107]:
s<s2, s>s2, s<=s2, s>=s2

(True, False, True, False)

Пересечение.

In [108]:
s2&{1,2,3}

{1, 2}

Разность и симметричная разность.

In [109]:
s2-{1,3,5}

{0, 2}

In [110]:
s2^{1,3,5}

{0, 2, 3}

Множества (как и списки) являются изменяемыми объектами. Добавление элемента в множество и исключение из него.

In [111]:
s2.add(4)
s2

{0, 1, 2, 4, 5}

In [112]:
s2.remove(1)
s2

{0, 2, 4, 5}

Как и в случае `+=`, можно скомбинировать теоретико-множественную операцию с присваиванием.

In [113]:
s2|={1,2}
s2

{0, 1, 2, 4, 5}

Существуют также неизменяемые множества. Этот тип данных называется `frozenset`. Операции над такими множествами подобны обычным, только невозможно изменять их (добавлять и исключать элементы).

## Словари

Словарь содержит пары ключ - значение (их порядок несущественен). Это один из наиболее полезных и часто используемых типов данных в питоне.

In [114]:
d={'one':1,'two':2,'three':3}
d

{'one': 1, 'three': 3, 'two': 2}

Можно узнать значение, соответствующее некоторому ключу. Словари реализованы как хэш-таблицы, так что поиск даже в больших словарях очень эффективен. В языках низкого уровня (например, C) для построения хэш-таблиц требуется использовать внешние библиотеки и писать заметное количество кода. В скриптовых языках (perl, python, php) они уже встроены в язык, и использовать их очень легко.

In [115]:
d['two']

2

In [116]:
d['four']

KeyError: 'four'

Можно проверить, есть ли в словаре данный ключ.

In [117]:
'one' in d, 'four' in d

(True, False)

Можно присваивать значения как имеющимся ключам, так и отсутствующим (они добавятся к словарю).

In [118]:
d['one']=-1
d

{'one': -1, 'three': 3, 'two': 2}

In [119]:
d['four']=4
d

{'four': 4, 'one': -1, 'three': 3, 'two': 2}

Длина - число ключей в словаре.

In [120]:
len(d)

4

Можно удалит ключ из словаря.

In [121]:
del d['two']
d

{'four': 4, 'one': -1, 'three': 3}

Метод `get`, если он будет вызван с отсутствующим ключом, не приводит к ошибке, а возвращает специальный объект `None`. Он используется всегда, когда необходимо указать, что объект отсутствует (в какой-то мере он аналогичен `null` в C). Если передать методу `get` второй аргумент - значение по умолчанию, то будет возвращаться это значение, а не `None`.

In [122]:
d.get('one'),d.get('five')

(-1, None)

In [123]:
type(None)

NoneType

In [124]:
d.get('one',0),d.get('five',0)

(-1, 0)

Словари обычно строят последовательно: начинают с пустого словаря, а затем добавляют ключи со значениями.

In [125]:
d={}
d

{}

In [126]:
d['zero']=0
d

{'zero': 0}

In [127]:
d['one']=1
d

{'one': 1, 'zero': 0}

А это генератор словаря (dictionary comprehension).

In [128]:
d={i:i**2 for i in range(5)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Ключами могут быть любые неизменяемые объекты, например, целые числа, строки, кортежи.

In [129]:
d={}
d[0,0]=1
d[0,1]=0
d[1,0]=0
d[1,1]=-1
d

{(0, 0): 1, (0, 1): 0, (1, 0): 0, (1, 1): -1}

In [130]:
d[0,0]+d[1,1]

0

Словари, подобно спискам, можно использовать в `for` циклах. Перебираются имеющиеся в словаре ключи (в каком-то непредсказуемом порядке).

In [131]:
d={'one':1,'two':2,'three':3}
for x in d:
    print(x,'  ',d[x])

two    2
one    1
three    3

Метод `keys` возвращает список ключей, метод `values` - список соответствующих значений (в том же порядке), а метод `items` - список пар (ключ,значение). Точнее говоря, это не списки, а некоторые объекты, которые можно использовать в `for` циклах или превратить в списки функцией `list`. Если хочется написать цикл по упорядоченному списку ключей, то можно использовать `sorted(d.keys))`.

In [132]:
d.keys(),d.values(),d.items()

(dict_keys(['two', 'one', 'three']),
 dict_values([2, 1, 3]),
 dict_items([('two', 2), ('one', 1), ('three', 3)]))

In [133]:
for x in sorted(d.keys()):
    print(x,'  ',d[x])

one    1
three    3
two    2

In [134]:
for x,y in d.items():
    print(x,'  ',y)

two    2
one    1
three    3

In [135]:
del x,y

Что есть истина? И что есть ложь? Подойдём к этому философскому вопросу экспериментально.

In [136]:
bool(False),bool(True)

(False, True)

In [137]:
bool(None)

False

In [138]:
bool(0),bool(123)

(False, True)

In [139]:
bool(''),bool(' ')

(False, True)

In [140]:
bool([]),bool([0])

(False, True)

In [141]:
bool(set()),bool({0})

(False, True)

In [142]:
bool({}),bool({0:0})

(False, True)

# Pandas

Основные возможности библиотеки:
- Объект DataFrame для манипулирования индексированными массивами двумерных данных
- Инструменты для обмена данными между структурами в памяти и файлами различных форматов
- Встроенные средства совмещения данных и способы обработки отсутствующей информации
- Переформатирование наборов данных, в том числе создание сводных таблиц
- Срез данных по значениям индекса, расширенные возможности индексирования, выборка из больших наборов данных
- Вставка и удаление столбцов данных
- Возможности группировки позволяют выполнять трёхэтапные операции типа «разделение, изменение, объединение» (англ. split-apply-combine).
- Слияние и объединение наборов данных
- Иерархическое индексирование позволяет работать с данными высокой размерности в структурах меньшей размерности
- Работа с временными рядами: формирование временных периодов и изменение интервалов и т. д.

In [143]:
import pandas as pd

In [144]:
my_series = pd.Series([5, 6, 7, 8, 9, 10])
my_series

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [145]:
my_series.index

RangeIndex(start=0, stop=6, step=1)

In [146]:
my_series.values

array([ 5,  6,  7,  8,  9, 10])

In [147]:
my_series[4]

9

In [148]:
my_series2 = pd.Series([5, 6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e', 'f'])
my_series2['f']

10

In [149]:
my_series2[['a', 'b', 'f']]

a     5
b     6
f    10
dtype: int64

In [150]:
my_series2[['a', 'b', 'f']] = 0
my_series2

a    0
b    0
c    7
d    8
e    9
f    0
dtype: int64

In [151]:
my_series2[my_series2 > 0]

c    7
d    8
e    9
dtype: int64

In [152]:
my_series2[my_series2 > 0] ** 2

c    49
d    64
e    81
dtype: int64

In [153]:
my_series3 = pd.Series({'a': 5, 'b': 6, 'c': 7, 'd': 8})
my_series3

a    5
b    6
c    7
d    8
dtype: int64

In [154]:
'd' in my_series3

True

In [155]:
my_series3.name = 'numbers'
my_series3.index.name = 'letters'
my_series3

letters
a    5
b    6
c    7
d    8
Name: numbers, dtype: int64

In [156]:
my_series3.index = ['A', 'B', 'C', 'D']
my_series3

A    5
B    6
C    7
D    8
Name: numbers, dtype: int64

In [157]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
})
df

      country  population    square
0  Kazakhstan       17.04   2724902
1      Russia      143.50  17125191
2     Belarus        9.50    207600
3     Ukraine       45.50    603628

In [158]:
df['country']

0    Kazakhstan
1        Russia
2       Belarus
3       Ukraine
Name: country, dtype: object

In [159]:
type(df['country'])

pandas.core.series.Series

In [160]:
df.columns

Index(['country', 'population', 'square'], dtype='object')

In [161]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [162]:
df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
}, index=['KZ', 'RU', 'BY', 'UA'])
df

       country  population    square
KZ  Kazakhstan       17.04   2724902
RU      Russia      143.50  17125191
BY     Belarus        9.50    207600
UA     Ukraine       45.50    603628

In [163]:
df.index = ['KZ', 'RU', 'BY', 'UA']
df.index.name = 'Country Code'
df

                 country  population    square
Country Code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

In [164]:
df['country']

Country Code
KZ    Kazakhstan
RU        Russia
BY       Belarus
UA       Ukraine
Name: country, dtype: object

In [165]:
# row access
df.loc['KZ']

country       Kazakhstan
population         17.04
square           2724902
Name: KZ, dtype: object

In [166]:
# row access by index
df.iloc[1]

country         Russia
population       143.5
square        17125191
Name: RU, dtype: object

In [167]:
df.loc[['KZ', 'RU'], 'population']

Country Code
KZ     17.04
RU    143.50
Name: population, dtype: float64

In [168]:
df.loc['KZ':'BY', :]

                 country  population    square
Country Code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600

In [169]:
df[df.population > 10][['country', 'square']]

                 country    square
Country Code
KZ            Kazakhstan   2724902
RU                Russia  17125191
UA               Ukraine    603628

In [170]:
df.reset_index()

  Country Code     country  population    square
0           KZ  Kazakhstan       17.04   2724902
1           RU      Russia      143.50  17125191
2           BY     Belarus        9.50    207600
3           UA     Ukraine       45.50    603628

In [171]:
df['density'] = df['population'] / df['square'] * 1000000
df

                 country  population    square    density
Country Code
KZ            Kazakhstan       17.04   2724902   6.253436
RU                Russia      143.50  17125191   8.379469
BY               Belarus        9.50    207600  45.761079
UA               Ukraine       45.50    603628  75.377550

In [176]:
df.drop(['density'], axis='columns')

                 country  population    square
Country Code
KZ            Kazakhstan       17.04   2724902
RU                Russia      143.50  17125191
BY               Belarus        9.50    207600
UA               Ukraine       45.50    603628

In [177]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])
 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6'],
                    'B': ['B4', 'B5', 'B6'],
                    'C': ['C4', 'C5', 'C6']},
                   index=[4, 5, 6])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

In [178]:
frames = [df1, df2, df3]

result = pd.concat(frames)

In [179]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4  NaN
5    A5   B5   C5  NaN
6    A6   B6   C6  NaN
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [180]:
result.fillna(0.0)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4    0
5    A5   B5   C5    0
6    A6   B6   C6    0
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [181]:
result = pd.concat(frames, keys=['x', 'y', 'z'])

In [182]:
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4  NaN
  5    A5   B5   C5  NaN
  6    A6   B6   C6  NaN
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [183]:
result.loc['y']

    A   B   C    D
4  A4  B4  C4  NaN
5  A5  B5  C5  NaN
6  A6  B6  C6  NaN